.croppie-container {
	height: 100%;
	width: 100%;
}

.croppie-container .cr-image {
	left: 0;
	max-width: none;
	position: absolute;
	top: 0;
	transform-origin: 0 0;
	z-index: -1;
}

.croppie-container .cr-boundary {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

.croppie-container .cr-viewport {
	border: 2px solid #fff;
	bottom: 0;
	box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.croppie-container .cr-original-image { display: none; }

.croppie-container .cr-vp-circle { border-radius: 50%; }

.croppie-container .cr-overlay {
	cursor: move;
	position: absolute;
	z-index: 1;
}

.croppie-container .cr-slider-wrap {
	margin: 15px auto;
	text-align: center;
	width: 75%;
}

.croppie-result {
	overflow: hidden;
	position: relative;
}

.croppie-result img { position: absolute; }

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

/*************************************/

/***** STYLING RANGE INPUT ***********/

/*************************************/

/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */

/*************************************/

.cr-slider {
	-webkit-appearance: none; /*removes default webkit styles*/
	max-width: 100%;
	/*border: 1px solid white; *//*fix for FF unable to apply focus style bug */
	width: 300px; /*required for proper track sizing in FF*/
}

.cr-slider::-webkit-slider-runnable-track {
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	border-radius: 3px;
	height: 3px;
	width: 100%;
}

.cr-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #ddd;
	border: none;
	border-radius: 50%;
	height: 16px;
	margin-top: -6px;
	width: 16px;
}

.cr-slider:focus { outline: none; }

/*
.cr-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
*/

.cr-slider::-moz-range-track {
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	border-radius: 3px;
	height: 3px;
	width: 100%;
}

.cr-slider::-moz-range-thumb {
	background: #ddd;
	border: none;
	border-radius: 50%;
	height: 16px;
	margin-top: -6px;
	width: 16px;
}

/*hide the outline behind the border*/

.cr-slider:-moz-focusring {
	outline: 1px solid white;
	outline-offset: -1px;
}

.cr-slider::-ms-track {
	background: transparent; /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	border-color: transparent; /*leave room for the larger thumb to overflow with a transparent border */
	border-width: 6px 0;
	color: transparent; /*remove default tick marks*/
	height: 5px;
	width: 300px;
}

.cr-slider::-ms-fill-lower {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.cr-slider::-ms-fill-upper {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.cr-slider::-ms-thumb {
	background: #ddd;
	border: none;
	border-radius: 50%;
	height: 16px;
	margin-top: 1px;
	width: 16px;
}

.cr-slider:focus::-ms-fill-lower { background: rgba(0, 0, 0, 0.5); }

.cr-slider:focus::-ms-fill-upper { background: rgba(0, 0, 0, 0.5); }

/*******************************************/

/***********************************/

/* Rotation Tools */

/***********************************/

.cr-rotate-controls {
	bottom: 5px;
	left: 5px;
	position: absolute;
	z-index: 1;
}

.cr-rotate-controls button {
	background: none;
	border: 0;
}

.cr-rotate-controls i:before {
	display: inline-block;
	font-size: 22px;
	font-style: normal;
	font-weight: 900;
}

.cr-rotate-l i:before { content: '↺'; }

.cr-rotate-r i:before { content: '↻'; }