<!-- Modal -->

@Styles.Render("~/Content/datetimepartial")
<div class="modalDateView" data-bind="template:{name:'modalDate',afterRender: picker}">

</div>
<script type="text/html" id="modalDate">
	<form action="#">
		<div id="modalDateTime" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" >&times;</button>
						<h4 class="modal-title">Choose notification date and time.</h4>
					</div>
					<div class="modal-body">
						<input type="text" id="datetime24" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY     HH : mm" name="datetime" value="21-12-2017 20:30">
					</div>
					<input type="text" id="itemId" class="hidden" data-bind="value: Id" />

					<div class="modal-footer">
						<button type="button" class="btn  btn-default" data-bind="click: SetNotification" data-dismiss="modal">Save</button>
					</div>
				</div>

			</div>
		</div>
	</form>
</script>

@Scripts.Render("~/bundles/combodate")
