@{
	Layout = "";
}

@Styles.Render("~/Content/home")
<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<body>

	<ul class="toDoList" data-bind="foreach:toDoLists">
		<li>
			<a href="#">

				<h1 class="text-center"><strong class="title " data-bind="inline: Name"></strong></h1>
				<button  class="icon">
					<span class="glyphicon glyphicon-plus"></span>
				</button>

				<ul class="items text-left" data-bind="foreach: Items">

					<li>
						<input type="checkbox" data-bind="checked:IsCompleted" />
						<span data-bind="inline: Text,css:{lineThrough:IsCompleted}"></span>
						<button data-bind="click: $parent.removeItem">Delete</button>

					</li>
				</ul>
			</a>
		</li>

	</ul>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/homeko")




@*<script type="text/javascript" src="~/Scripts/knockout-3.4.1.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.mapping-latest.debug.js"></script>*@