@{
//Layout = "";
}

@Styles.Render("~/Content/home")
<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<body>
	<span data-bind="click:$root.addList" class="btn btn-lg newlist">Add new list</span>
	<div class="notes-board">
		<ul class="toDoList" data-bind="foreach:toDoLists">
			<li>
				<a href="#">

					<span data-bind="click: $root.removeList" class="btn btn-xs icon deleteicon">X</span>
					<h1 class="text-center"><strong class="title " data-bind="inline: Name"></strong></h1>
					<span data-bind="click: $root.addItem.bind($data)" class="btn btn-xs glyphicon left glyphicon-plus"></span>		
					<ul class="items text-left" data-bind="foreach: Items">				
						<li>
							<input type="checkbox" data-bind="checked:IsCompleted" />
							<span data-bind="inline: Text,css:{lineThrough:IsCompleted}"></span>
							<span data-bind="click: $root.removeItem.bind($data,$parent)" class="btn btn-xs icon delicon glyphicon glyphicon-remove"></span>
						</li>
					</ul>
				</a>
			</li>

		</ul>
	</div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/homeko")